html, body {
    display: flex;
    flex-direction: column;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 12pt;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

main {
    flex-grow: 1;
    background-color: black;
    display: flex;
    flex-direction: column;
}

.mp4-wrapper {
    flex-grow: 1;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.video {
    position: relative;
    width: 100%;
    height: 100%;
}

.video video {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#player-card {
    position: fixed;
    bottom: 40px;
    left: 40px;
    opacity: 0;
    transform: translateX(-50px);
    transition: all .5s;

    padding: 15px 25px;

    z-index: 3000;
}

#player-card {
    opacity: 0;
    transition: .5s;
}

#player-card.open #info-banner {
    width: 260px;
}

#player-card.show {
    opacity: 1;

}

#album-gif {
    position: absolute;

    left: 10px;
    top: 10px;

    border: none;
    background: none;
    cursor: pointer;

    z-index: 2;
}

#album-gif img{
    left: 0px;
    top: 0px;
    opacity: 0.4;
    transition: opacity 0.3s ease;
}

#album-gif img:hover {
    opacity: 1;
}

#info-banner {
    opacity: 0;
    transform: translateX(-20px);

    pointer-events: none;
    overflow: hidden;
    transition: all .3s ease;

    margin-left: 200px;
    margin-top: 10px;
    min-width: 300px;

    padding: 15px;

    background: rgba(0,0,0,.8);
    color: white;

    border-radius: 8px;
}

#info-banner h2 {
    font-size: clamp(0.8rem, 1vw, 1rem);
}

#info-banner h1 a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
    font-size: clamp(1rem, 3vw, 2rem);
}

#info-banner h1 a:hover {
    color: #E8E3A0;
    text-decoration: none;
}

#info-banner span a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
    font-size: clamp(1.0rem, 1.9vw, 1rem);
}
#info-banner span a:hover {
    color: #E8E3A0;
    text-decoration: underline;
}
#info-banner.show {
    opacity: 1;
    transform: translateX(0);

    pointer-events: auto;
}

#cover {
    background-color: black;
    z-index: 99;
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;

}

#cover > h1 {
    font-size: 2em;
    color: white;
    animation: coin_noodle 7s ease-in-out infinite;

}

#cover > div {
    display: flex;
    align-items: center;
    gap: 20px;

}

#no-button,
#yes-button {
    color: white;
    background-color: grey;
    cursor: pointer;
    transition: 0.6s ease-in-out;
    border: none;
    padding: 5px;
    border-radius: 2px;
}

#no-button:hover {
    background-color: red;
    padding: 10px;
    font-size: 2em;
}

#yes-button:hover {
    background-color: green;
    padding: 10px;
    font-size: 2em;
}

#a1,
#a2 {
    position: absolute;
    pointer-events: none;
}

#SECRET {
    display: none;
}
